@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?bfhomp");
  src: url("../fonts/icomoon.eot?bfhomp#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?bfhomp") format("truetype"), url("../fonts/icomoon.woff?bfhomp") format("woff"), url("../fonts/icomoon.svg?bfhomp#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-check-solid:before {
  content: "\e900"; }

.icon-envelope-regular:before {
  content: "\e901"; }

.icon-facebook-f-brands:before {
  content: "\e902"; }

.icon-linkedin-in-brands:before {
  content: "\e903"; }

.icon-long-arrow-alt-right-solid:before {
  content: "\e904"; }

.icon-pinterest-p-brands:before {
  content: "\e905"; }

.icon-sign-in-alt-solid:before {
  content: "\e906"; }

.icon-twitter-brands:before {
  content: "\e907"; }

.icon-unlock-alt-solid:before {
  content: "\e908"; }

.icon-youtube-brands:before {
  content: "\e909"; }

body {
  font-family: Roboto, sans-serif;
  font-weight: 300; }
  body > div {
    color: white;
    background: url(../img/bg.png) no-repeat center/cover; }
    @media screen and (min-width: 992px) {
      body > div {
        min-height: 900px; } }

a {
  color: white !important;
  transition: .7s; }

.header .border_bottom {
  background-color: transparent !important;
  border-bottom: 1px solid #8dc3ff !important; }

.header .nav-link {
  text-align: center; }

@media screen and (min-width: 992px) {
  .header {
    margin-bottom: 4rem; }
    .header .navbar {
      padding: 0; }
    .header .nav-item {
      padding: 2.250rem 1rem 1.5rem !important; }
      .header .nav-item:hover:not(.text-uppercase) {
        background-color: white;
        border-bottom: 2px solid grey; }
        .header .nav-item:hover:not(.text-uppercase) a {
          color: #8dc3ff !important; }
      .header .nav-item.text-uppercase > a {
        color: black !important;
        border-color: black !important;
        padding-left: 2rem !important;
        padding-right: 2rem !important; } }

@media screen and (min-width: 1200px) {
  .header .nav-item a {
    font-size: 1.125rem; } }

.main {
  padding-top: 3rem;
  padding-bottom: 3rem; }
  .main .main__heading {
    font-weight: 100;
    text-align: center;
    margin-bottom: 2rem; }
  @media screen and (min-width: 992px) {
    .main .main__heading {
      font-size: 3rem;
      text-align: left;
      margin-bottom: 3rem; } }
  @media screen and (min-width: 1200px) {
    .main .main__heading {
      font-size: 4rem; } }
  .main .form__row:not(:last-of-type) {
    margin-bottom: 1.5rem; }
  @media screen and (min-width: 992px) {
    .main .form__row {
      margin-bottom: 2rem; } }
  @media screen and (min-width: 992px) {
    .main .form__row_checkbox {
      margin-top: 2.5rem;
      margin-bottom: 4.5rem !important; } }
  .main .form__input_style {
    color: white;
    background-color: transparent;
    border: 2px solid white;
    padding-left: 70px;
    transition: .4s; }
    .main .form__input_style:focus {
      box-shadow: none;
      padding-left: 20px; }
    .main .form__input_style::placeholder {
      color: white; }
  .main .form-control_lg {
    padding-top: 2rem;
    padding-bottom: 2rem; }
  .main button, .main a {
    padding-top: 1.25rem !important;
    padding-bottom: 1.25rem !important; }

.footer {
  color: white;
  background-color: #bdbab9; }
  .footer.footer_border-top {
    border-top: 3px solid grey; }
  .footer .footer__site-page_hr-bottom {
    border-bottom: 1px solid grey; }
  .footer .footer__site-page {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem; }
    @media screen and (max-width: 992px) {
      .footer .footer__site-page li:nth-child(-n+4) {
        padding-bottom: 1rem; } }
    @media screen and (min-width: 992px) {
      .footer .footer__site-page {
        padding-top: 3rem; } }
    .footer .footer__site-page li + li {
      margin-left: 1rem; }
    .footer .footer__site-page a {
      color: #303030 !important; }
      .footer .footer__site-page a:hover {
        color: white !important; }
  .footer .footer__social-link {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem; }
    @media screen and (min-width: 992px) {
      .footer .footer__social-link {
        padding-top: 2rem;
        padding-bottom: 2.5rem; } }
    .footer .footer__social-link li {
      margin-right: 12px !important; }
    .footer .footer__social-link .social-list__link {
      color: #303030 !important;
      font-size: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 34px;
      width: 34px; }
      .footer .footer__social-link .social-list__link.social-list__link_border {
        border: 2px solid #303030;
        border-radius: 50%; }
      .footer .footer__social-link .social-list__link:hover {
        color: white !important;
        text-decoration: none;
        border-color: white; }
      .footer .footer__social-link .social-list__link i {
        height: 1rem; }
  .footer .copyright__content {
    color: #8dc3ff;
    background-color: #0f53a1; }
    .footer .copyright__content .copyright__text {
      margin-bottom: 0;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem; }
