//@import "node_modules/bootstrap/scss/functions";
//@import "node_modules/bootstrap/scss/variables";
//@import "node_modules/bootstrap/scss/mixins";
//
//@import "node_modules/bootstrap/scss/reboot";
//@import "node_modules/bootstrap/scss/type";

@import 'fonts';

$text-blue-light: #8dc3ff;
$text-footer-link: #303030;
$input-text-color: white;
$hr-color: grey;
$border-nav: #8dc3ff;
$footer-bg: #bdbab9;


body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    > div {
        color: white;            
        background: url(../img/bg.png) no-repeat center/cover;
        @media screen and (min-width: 992px) {
            min-height: 900px;
        }
    }
}

   
a {
    color: white !important;
    transition: .7s;
}
    
    //HEADER
    
.header {
    .border_bottom {
        background-color: transparent !important;
        border-bottom: 1px solid $border-nav !important;
    }

    .nav-link {
        text-align: center;
    }

    @media screen and (min-width: 992px){
        margin-bottom: 4rem;

        .navbar {
            padding: 0;
        }
        .nav-item {
            padding: 2.250rem 1rem 1.5rem !important;

            &:hover:not(.text-uppercase) {
                background-color: white;
                border-bottom: 2px solid $hr-color;

                a {
                color: $text-blue-light !important;  
                }
            }
            &.text-uppercase > a {
                color: black !important;
                border-color: black !important;
                padding-left: 2rem !important;
                padding-right: 2rem !important;
            }
        }
    }
    @media screen and (min-width: 1200px) {
        .nav-item {
            a {
                font-size: 1.125rem;
            }
            
        }
    }
}

//MAIN

.main {
    // Default block padding style
    padding-top: 3rem;
    padding-bottom: 3rem;
    
    // Heading style mobile and pc
    .main__heading {
        font-weight: 100;
        text-align: center;
        margin-bottom: 2rem;
    }

    @media screen and (min-width: 992px){
        .main__heading {
            font-size: 3rem;
            text-align: left;
            margin-bottom: 3rem;
        }
    }

    @media screen and (min-width: 1200px){
        .main__heading {
            font-size: 4rem;
        }
    }
    // input row style mobile and pc
    .form__row:not(:last-of-type) {
        margin-bottom: 1.5rem;
    }

    @media screen and (min-width: 992px){
        .form__row {
            margin-bottom: 2rem;
        }
    }

    @media screen and (min-width: 992px) {
        .form__row_checkbox {
            margin-top: 2.5rem;
            margin-bottom: 4.5rem !important;
        }
    }

    // Input style
    .form__input_style {
        color: $input-text-color;
        background-color: transparent;
        border: 2px solid $input-text-color;
        padding-left: 70px;
        transition: .4s;

        &:focus {
            box-shadow: none;
            padding-left: 20px;
        }

        &::placeholder {
            color: $input-text-color;
        }
    }

    .form-control_lg {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    button, a {
        padding-top: 1.25rem !important;
        padding-bottom: 1.25rem !important;
    }
}

//FOOTER
.footer {
    color: white;
    background-color: $footer-bg;
    
    &.footer_border-top {
        border-top: 3px solid $hr-color;
    }

    .footer__site-page_hr-bottom {
        border-bottom: 1px solid grey;
    }

    .footer__site-page {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        
        @media screen and (max-width: 992px){
            li:nth-child(-n+4) {
                padding-bottom: 1rem;
            }
        }

        @media screen and (min-width: 992px) {
            padding-top: 3rem;
        }

        li + li {
            margin-left: 1rem;
        }
        a {
            color: $text-footer-link !important;

            &:hover {
                color: white !important;
            }
        }
    }

    .footer__social-link {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;

        @media screen and (min-width: 992px) {
            padding-top: 2rem;
            padding-bottom: 2.5rem;
        } 

        li {
            margin-right: 12px !important;
        }
        .social-list__link {
            color: $text-footer-link !important;
            font-size: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 34px;
            width: 34px;
            
            &.social-list__link_border {
                border: 2px solid $text-footer-link;
                border-radius: 50%;
            }

            &:hover {
                color: white !important;
                text-decoration: none;
                border-color: white;
            }

            i{
                height: 1rem;
            }
        }
    }

    .copyright__content {
        color: $text-blue-light;
        background-color: #0f53a1;

        .copyright__text {
            margin-bottom: 0;
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
        }
    }
}