body {
    font-family: Lato, sans-serif;
}

/*HEADER*/

body > header a {
    color: #ede9dc !important;
    font-weight: 300;
}

body > header li:hover {
    background-color: #2d3844 !important;
}

/*MAIN*/

main section {
    color: #3b3a36 !important;
    background-color: #ede9db;
    border: 2px solid white;
    border-bottom: 2px solid black;
    border-radius: 6px;
}

main article {
    border-color: #c4c3ba !important;
}

main blockquote {
    font-size: 1.25rem;
    width: 210px;
}

.b-calendar {
    color: white;
    line-height: 1;
    background-color: #434c55;
    border-radius: 4px;
    padding-top: 4px;
    height: 42px;
    width: 42px;
    position: relative;
}

.b-calendar .w-100 {
    background-color: #1a1f26;
    border-radius: 0 0 4px 4px;
    height: 20px;
    bottom: 0;
    z-index: 0;
}

.b-calendar-month {
    font-size: 12px;
}

main article h2 {
    color: #2d3844;
    margin-bottom: 0;
}

main article cite {
    color: #c9c5ba;
}

main article cite a {
    color: inherit !important;
    text-decoration: underline;
}

main aside {
    color: #ede9dc;
    font-weight: 300;
}

main aside ul {
    margin-bottom: 0;
}

main aside li + li {
    border-top: 1px solid white;
}

.b-categories {
    list-style-position: inside;
}

main aside a {
    color: inherit;
    text-decoration: none;
}

main aside .badge {
    font-style: italic;
    font-weight: 400;
    padding-top: .6em;
}

/*THEME*/

.link-white {
    color: white !important;
}

.link-dark-blue {
    color: #222a33 !important;
}

.grey-blue {
    background-color: #373f49;
}

.blue-1 {
    color: white !important;
    background-color: #2d3844;
}

.blue-2 {
    color: white !important;
    background-color: #212932;
}