@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?odpqg0');
  src:  url('fonts/icomoon.eot?odpqg0#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?odpqg0') format('truetype'),
    url('fonts/icomoon.woff?odpqg0') format('woff'),
    url('fonts/icomoon.svg?odpqg0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-telegram-plane-brands:before {
  content: "\e900";
}
.icon-twitter-square-brands:before {
  content: "\e901";
}
.icon-behance-brands:before {
  content: "\e902";
}
.icon-dribbble-brands:before {
  content: "\e903";
}
.icon-heart-regular:before {
  content: "\e904";
}
.icon-comment-dots-regular:before {
  content: "\e905";
}
.icon-sync-solid:before {
  content: "\e906";
}
