@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?47lydi');
  src:  url('../fonts/icomoon.eot?47lydi#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?47lydi') format('truetype'),
    url('../fonts/icomoon.woff?47lydi') format('woff'),
    url('../fonts/icomoon.svg?47lydi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter-brands:before {
  content: "\e900";
}
.icon-facebook-f-brands:before {
  content: "\e901";
}
.icon-google-plus-g-brands:before {
  content: "\e902";
}
.icon-youtube-brands:before {
  content: "\e903";
}
.icon-leaf-solid:before {
  content: "\e904";
}
.icon-home-solid:before {
  content: "\e905";
}
.icon-user-solid:before {
  content: "\e906";
}
.icon-music-solid:before {
  content: "\e907";
}
.icon-bus-alt-solid:before {
  content: "\e908";
}
.icon-hat-wizard-solid:before {
  content: "\e909";
}
.icon-map-marker-alt-solid:before {
  content: "\e90a";
}
.icon-search-solid:before {
  content: "\e90b";
}
.icon-bolt-solid:before {
  content: "\e90c";
}
.icon-long-arrow-alt-right-solid:before {
  content: "\e90d";
}
.icon-star-half-alt-solid:before {
  content: "\e90e";
}
.icon-star-solid:before {
  content: "\e90f";
}
.icon-star-regular:before {
  content: "\e910";
}
