$theme-green: #1db05e;
$theme-orange: #f19e1f;
$theme-violet: #88499c;
$theme-blue: #1d73b0;
$theme-red: #bb1f5a;

$star-color: #f19e1f;

$body-bgc: #f3f1f2;
$body-fc: #566375;
$header-search-bgc: #e2dee0;
$site-red: #e94e38;
$site-green: #1db05e;

$heading-color: #566375;

@mixin bg-img {
    background-position-x: center;
    background-size: cover;
    background-repeat: no-repeat;
}