@import 'fonts';
@import 'vars';

body {
    background-color: $body-bgc;
    color: $body-fc;
}

// SEARCH


.search {
    background-image: url('../img/bg-img.jpg');
    @include bg-img;

    .search__submit {
        background-color: $site-red;
    }
}

// MAIN

.main {
    border-bottom: 1px solid $body-fc;
    padding-bottom: .5rem;

}

// INFORMATION

.information {
    .information__heading {
        color: $heading-color;
    }

    .information__title {
        color: #96a6a7;
    }

    .information__circle-icon {
        font-size: 2rem;
        text-align: center;
        border: 2px solid #9dacad;
        border-radius: 50%;
        padding: .875rem 0;
        height: 4rem;
        width: 4rem;
        
    }

    .information__real {
        color: $site-green;
    }
}

// FOOTER
.footer {
    color: #fff;
    background-image: url('../img/bg-img.jpg');
    @include bg-img;
    background-color:grey;
    padding-top: 2rem;
    padding-bottom: 2rem;

    .footer__form {
        margin-bottom: 2rem;
    }

    .footer__form-header {
        text-align: center;
        margin-bottom: 1.5rem;
    }

    .footer__form-input {
        background-color: rgba(255,255,255,.1);
        padding: .5rem;
    }

    .footer__submit {
        background-color: $site-red;
    }

    .footer__heading {
        text-decoration: underline;
        margin-bottom: 1rem;
    }

    .footer__list-item {
        a {
            color: #c0bebc;

            &:hover {
                color: #dbdbdb;
            }
        }
    }

    .footer__social-list-item {
        font-size: 1.5rem;
        margin-bottom: 2rem;

        a {
            color: #fff;

            &:hover {
                color: #ccc;
                text-decoration: none;
            }
        }
    }
}

// GLOBAL

.icon-tag {
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 1.25rem 0;
    height: 4rem;
    width: 4rem;

    &.icon-home-solid {
        background-color: $theme-green;
    }

    &.icon-user-solid {
        background-color: $theme-red;
    }

    &.icon-hat-wizard-solid {
        background-color: $theme-blue;
    }

    &.icon-music-solid {
        background-color: $theme-orange;
    }

    &.icon-bus-alt-solid {
        background-color: $theme-violet;
    }

    &.icon-leaf-solid,
    &.icon-bolt-solid {
        background-color: $theme-green;
        border: none;
    }

    &-circle.icon-home-solid:hover {
        color: $theme-green;
        border-color: $theme-green;
    }

    &-circle.icon-user-solid:hover {
        color: $theme-red;
        border-color: $theme-red;
    }

    &-circle.icon-hat-wizard-solid:hover {
        color: $theme-blue;
        border-color: $theme-blue;
    }

    &-circle.icon-music-solid:hover {
        color: $theme-orange;
        border-color: $theme-orange;
    }

    &-circle.icon-bus-alt-solid:hover {
        color: $theme-violet;
        border-color: $theme-violet;
    }

}