@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?bfhomp');
  src:  url('fonts/icomoon.eot?bfhomp#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?bfhomp') format('truetype'),
    url('fonts/icomoon.woff?bfhomp') format('woff'),
    url('fonts/icomoon.svg?bfhomp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check-solid:before {
  content: "\e900";
}
.icon-envelope-regular:before {
  content: "\e901";
}
.icon-facebook-f-brands:before {
  content: "\e902";
}
.icon-linkedin-in-brands:before {
  content: "\e903";
}
.icon-long-arrow-alt-right-solid:before {
  content: "\e904";
}
.icon-pinterest-p-brands:before {
  content: "\e905";
}
.icon-sign-in-alt-solid:before {
  content: "\e906";
}
.icon-twitter-brands:before {
  content: "\e907";
}
.icon-unlock-alt-solid:before {
  content: "\e908";
}
.icon-youtube-brands:before {
  content: "\e909";
}
