$body-bg-color: #2d2d30;
$grey-color: #38383a;

$post-bg: #fff;
$post-hover-text: #fff;

$badge-text-color: #fff;
$badge-country-bg: #26a65b;
$badge-people-bg: #e52a40;
$badge-travel-bg: #663399;
$badge-technology-bg: #e87e04;
$badge-economy-bg: #e74c3c;
$badge-home-bg: #4183d7;

$border-radius: 6px;

@mixin border-radius {
    border-radius: $border-radius;
}

@mixin transition {
    transition: .5s;
}

@mixin padding-y($value) {
    padding-top: $value;
    padding-bottom: $value;
}