@import 'fonts';
@import 'vars';

body {
    background-color: $body-bg-color;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
}

// HEADER

.header {

    @media screen and (min-width: 992px) {
        @include padding-y(25px);
    }

    .navbar-brand {
        font-family: 'Merriweather', serif;
        color: #8e8e8e;
    }

    .navbar-toggler-icon {
        color: #ccc;
    }

    .header__social-link {
        background-color: $grey-color;
        border-radius: 6px / 6px;
    }
    
    .nav-link {
        @media screen and (min-width: 992px) {
            padding: 1.5rem 2.3rem !important;
        }
    }

    .nav-link a {
        color: #8e8e8e;
        @include transition;

        &:hover {
            color: #eee;
            text-decoration: none;
        }
    }
}

// SLIDER

.slider {
    padding-bottom: 1.25rem;

    @media screen and (max-width: 992px) {
        display: none;
    }
    
    img {
        border-radius: 6px;
    }

    .carousel-caption {
        text-align: left;
        padding-left: 2rem;
        left: 0;
        right: 50%;
        bottom: 30%;
    }

    .carousel-links {
        background-color: #fff;
        display: flex;
        margin-top: -9.5rem;
        height: 8.5rem;
        width: 100%;
        position: absolute;
        z-index: 100;
        
        .carousel-links__badge {
            font-size: .875rem;
            font-family: sans-serif;
            text-transform: uppercase;
            margin-bottom: .875rem;
            display: inline-block;
        }

        .carousel-links__item {
            @include padding-y(22px);
            padding-left: 45px;
            padding-right: 20px;
            width: 15rem;

            &.active {
                color: #fff;
                background-color: #4b77be;
            }
        }

        h6 {
            line-height: 1.5;
        }
    }
}

// MAIN

.main {
    padding-bottom: 10px;

    .main__article {
        @include border-radius;
    }

    .post {
        background-color: $post-bg;
        overflow: hidden;
        margin-bottom: 2rem;
        position: relative;
        height: 26rem;
        @include transition;
        transition-property: background-color, color;

        &:hover {
            color: $post-hover-text;
            background-color: $grey-color;
        }

        &_center {
            text-align: center;
            padding: 5.5rem .875rem 0;

            .post__badge {
                left: 40%;

                @media screen and (min-width:992px) {
                    left: 30%;
                }
            }

            .post__footer {
                text-align: left;
            }
        }

        &_no-img {
            padding-top: 5.5rem;

            @media screen and (max-width: 992px) {
                img {
                    display: none;
                }
            }

            .post__footer {
                border: none;
            }

            .post__heading {
                margin-bottom: 2rem;
            }
        }

        &_slider {
            .post__badge {
                top: 12rem;
            }

            .post__content {
                color: #fff;
                position: absolute;
                bottom: 6.25rem;
            }

            .post__heading {
                font-size: 1.25rem;
            }
        }

        &_news {
            .post__heading {
                text-transform: uppercase;
                padding-left: 2rem;
                padding-top: 35px;
                padding-bottom: 10px;
            }

            &:hover {
                color: #000;
                background-color: #fff;
            }
        }
    }

    .post__badge {
        color: $badge-text-color;
        font-size: .75rem;
        letter-spacing: .25rem;
        text-transform: uppercase;
        border-radius: 4px;
        padding: .25rem .5rem;
        position: absolute;
        z-index: 1000;
        top: 2rem;
        left: 2rem;
    }

    .post__badge_country {
        background-color: $badge-country-bg;
    }

    .post__badge_people {
        background-color: $badge-people-bg;
    }

    .post__badge_travel {
        background-color: $badge-travel-bg;
    }

    .post__badge_technology {
        background-color: $badge-technology-bg;
    }

    .post__badge_economy {
        background-color: $badge-economy-bg;
    }

    .post__badge_home {
        background-color: $badge-home-bg;
    }
    .post__img {
        margin-left: auto;
        margin-right: auto;
        border-top-left-radius: 6px; 
        border-top-right-radius: 6px;
        display: block;
        max-width: 100%;
        height: auto;

        @media screen and (min-width: 992px) {
            width: 100%;
        }
    }

    .post__content {
        padding: 1.5rem 2rem 1.5rem;
    }
    
    .post__heading {
        margin-bottom: 1rem;
        line-height: 1.5;
    }
    
    .post__title {
        font-family: 'Merriweather', serif;
        font-size: .875rem;
        margin-bottom: 0;
    }
    
    .post__footer {
        border-top: 1px solid #ccc;
        padding: 1.25em 2.25rem 1rem;
        display: flex;
        position: absolute;
        bottom: 0;
        width: 100%;

        a + a {
            margin-left: .75rem;
        }
    }

    .post__more, .post__comments, .post__like {
        color: #8e8e8e;
        border: 1px solid #999;
        
        &:hover {
            color: #ddd;
            border-color: #ddd;
        }
    }
    
    .post__more {
        letter-spacing: .125rem;
        border-radius: 15% / 50%;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
    .post__comments {
        border-radius: 25% / 50%;
        min-width: 5rem;
    }
    
    .post__like {
        border-radius: 50%;
        padding: 10px;
    }

    .card-header {
        background-color: transparent;
        border-bottom: none;
    }

    .card.active {
        background-color: #f2f1f1;
    }

    .accordion__btn {
        color: inherit;
        font-size: 1.25rem;
    }

    .accordion__content {
        padding: 1rem 2rem .5rem;
    }

    .btn_load {
        color: #8e8e8e;
        background-color: $grey-color;
        margin-top: 0.5rem;
        @include padding-y(20px);
    }

}

// FOOTER

.footer {
    @include padding-y(36px);
}

.footer__info {
    color: #fff;

    a { color: inherit; }
}

.footer__social-link {
    color:#8e8e8e;
    font-size: 1.5rem;

    .list-inline-item {
        margin-right: 1.125rem;
    }

    a {
        color: inherit;

        &:hover {
            color: #aaa;
            text-decoration: none;
        }
    }
}