@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?odpqg0");
  src: url("../fonts/icomoon.eot?odpqg0#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?odpqg0") format("truetype"), url("../fonts/icomoon.woff?odpqg0") format("woff"), url("../fonts/icomoon.svg?odpqg0#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-telegram-plane-brands:before {
  content: "\e900"; }

.icon-twitter-square-brands:before {
  content: "\e901"; }

.icon-behance-brands:before {
  content: "\e902"; }

.icon-dribbble-brands:before {
  content: "\e903"; }

.icon-heart-regular:before {
  content: "\e904"; }

.icon-comment-dots-regular:before {
  content: "\e905"; }

.icon-sync-solid:before {
  content: "\e906"; }

body {
  background-color: #2d2d30; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif; }

@media screen and (min-width: 992px) {
  .header {
    padding-top: 25px;
    padding-bottom: 25px; } }

.header .navbar-brand {
  font-family: 'Merriweather', serif;
  color: #8e8e8e; }

.header .navbar-toggler-icon {
  color: #ccc; }

.header .header__social-link {
  background-color: #38383a;
  border-radius: 6px / 6px; }

@media screen and (min-width: 992px) {
  .header .nav-link {
    padding: 1.5rem 2.3rem !important; } }

.header .nav-link a {
  color: #8e8e8e;
  transition: .5s; }
  .header .nav-link a:hover {
    color: #eee;
    text-decoration: none; }

.slider {
  padding-bottom: 1.25rem; }
  @media screen and (max-width: 992px) {
    .slider {
      display: none; } }
  .slider img {
    border-radius: 6px; }
  .slider .carousel-caption {
    text-align: left;
    padding-left: 2rem;
    left: 0;
    right: 50%;
    bottom: 30%; }
  .slider .carousel-links {
    background-color: #fff;
    display: flex;
    margin-top: -9.5rem;
    height: 8.5rem;
    width: 100%;
    position: absolute;
    z-index: 100; }
    .slider .carousel-links .carousel-links__badge {
      font-size: .875rem;
      font-family: sans-serif;
      text-transform: uppercase;
      margin-bottom: .875rem;
      display: inline-block; }
    .slider .carousel-links .carousel-links__item {
      padding-top: 22px;
      padding-bottom: 22px;
      padding-left: 45px;
      padding-right: 20px;
      width: 15rem; }
      .slider .carousel-links .carousel-links__item.active {
        color: #fff;
        background-color: #4b77be; }
    .slider .carousel-links h6 {
      line-height: 1.5; }

.main {
  padding-bottom: 10px; }
  .main .main__article {
    border-radius: 6px; }
  .main .post {
    background-color: #fff;
    overflow: hidden;
    margin-bottom: 2rem;
    position: relative;
    height: 26rem;
    transition: .5s;
    transition-property: background-color, color; }
    .main .post:hover {
      color: #fff;
      background-color: #38383a; }
    .main .post_center {
      text-align: center;
      padding: 5.5rem .875rem 0; }
      .main .post_center .post__badge {
        left: 40%; }
        @media screen and (min-width: 992px) {
          .main .post_center .post__badge {
            left: 30%; } }
      .main .post_center .post__footer {
        text-align: left; }
    .main .post_no-img {
      padding-top: 5.5rem; }
      @media screen and (max-width: 992px) {
        .main .post_no-img img {
          display: none; } }
      .main .post_no-img .post__footer {
        border: none; }
      .main .post_no-img .post__heading {
        margin-bottom: 2rem; }
    .main .post_slider .post__badge {
      top: 12rem; }
    .main .post_slider .post__content {
      color: #fff;
      position: absolute;
      bottom: 6.25rem; }
    .main .post_slider .post__heading {
      font-size: 1.25rem; }
    .main .post_news .post__heading {
      text-transform: uppercase;
      padding-left: 2rem;
      padding-top: 35px;
      padding-bottom: 10px; }
    .main .post_news:hover {
      color: #000;
      background-color: #fff; }
  .main .post__badge {
    color: #fff;
    font-size: .75rem;
    letter-spacing: .25rem;
    text-transform: uppercase;
    border-radius: 4px;
    padding: .25rem .5rem;
    position: absolute;
    z-index: 1000;
    top: 2rem;
    left: 2rem; }
  .main .post__badge_country {
    background-color: #26a65b; }
  .main .post__badge_people {
    background-color: #e52a40; }
  .main .post__badge_travel {
    background-color: #663399; }
  .main .post__badge_technology {
    background-color: #e87e04; }
  .main .post__badge_economy {
    background-color: #e74c3c; }
  .main .post__badge_home {
    background-color: #4183d7; }
  .main .post__img {
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    display: block;
    max-width: 100%;
    height: auto; }
    @media screen and (min-width: 992px) {
      .main .post__img {
        width: 100%; } }
  .main .post__content {
    padding: 1.5rem 2rem 1.5rem; }
  .main .post__heading {
    margin-bottom: 1rem;
    line-height: 1.5; }
  .main .post__title {
    font-family: 'Merriweather', serif;
    font-size: .875rem;
    margin-bottom: 0; }
  .main .post__footer {
    border-top: 1px solid #ccc;
    padding: 1.25em 2.25rem 1rem;
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%; }
    .main .post__footer a + a {
      margin-left: .75rem; }
  .main .post__more, .main .post__comments, .main .post__like {
    color: #8e8e8e;
    border: 1px solid #999; }
    .main .post__more:hover, .main .post__comments:hover, .main .post__like:hover {
      color: #ddd;
      border-color: #ddd; }
  .main .post__more {
    letter-spacing: .125rem;
    border-radius: 15% / 50%;
    padding-left: 1rem;
    padding-right: 1rem; }
  .main .post__comments {
    border-radius: 25% / 50%;
    min-width: 5rem; }
  .main .post__like {
    border-radius: 50%;
    padding: 10px; }
  .main .card-header {
    background-color: transparent;
    border-bottom: none; }
  .main .card.active {
    background-color: #f2f1f1; }
  .main .accordion__btn {
    color: inherit;
    font-size: 1.25rem; }
  .main .accordion__content {
    padding: 1rem 2rem .5rem; }
  .main .btn_load {
    color: #8e8e8e;
    background-color: #38383a;
    margin-top: 0.5rem;
    padding-top: 20px;
    padding-bottom: 20px; }

.footer {
  padding-top: 36px;
  padding-bottom: 36px; }

.footer__info {
  color: #fff; }
  .footer__info a {
    color: inherit; }

.footer__social-link {
  color: #8e8e8e;
  font-size: 1.5rem; }
  .footer__social-link .list-inline-item {
    margin-right: 1.125rem; }
  .footer__social-link a {
    color: inherit; }
    .footer__social-link a:hover {
      color: #aaa;
      text-decoration: none; }
