@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?47lydi");
  src: url("../fonts/icomoon.eot?47lydi#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?47lydi") format("truetype"), url("../fonts/icomoon.woff?47lydi") format("woff"), url("../fonts/icomoon.svg?47lydi#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-twitter-brands:before {
  content: "\e900"; }

.icon-facebook-f-brands:before {
  content: "\e901"; }

.icon-google-plus-g-brands:before {
  content: "\e902"; }

.icon-youtube-brands:before {
  content: "\e903"; }

.icon-leaf-solid:before {
  content: "\e904"; }

.icon-home-solid:before {
  content: "\e905"; }

.icon-user-solid:before {
  content: "\e906"; }

.icon-music-solid:before {
  content: "\e907"; }

.icon-bus-alt-solid:before {
  content: "\e908"; }

.icon-hat-wizard-solid:before {
  content: "\e909"; }

.icon-map-marker-alt-solid:before {
  content: "\e90a"; }

.icon-search-solid:before {
  content: "\e90b"; }

.icon-bolt-solid:before {
  content: "\e90c"; }

.icon-long-arrow-alt-right-solid:before {
  content: "\e90d"; }

.icon-star-half-alt-solid:before {
  content: "\e90e"; }

.icon-star-solid:before {
  content: "\e90f"; }

.icon-star-regular:before {
  content: "\e910"; }

body {
  background-color: #f3f1f2;
  color: #566375; }

.search {
  background-image: url("../img/bg-img.jpg");
  background-position-x: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .search .search__submit {
    background-color: #e94e38; }

.main {
  border-bottom: 1px solid #566375;
  padding-bottom: .5rem; }

.information .information__heading {
  color: #566375; }

.information .information__title {
  color: #96a6a7; }

.information .information__circle-icon {
  font-size: 2rem;
  text-align: center;
  border: 2px solid #9dacad;
  border-radius: 50%;
  padding: .875rem 0;
  height: 4rem;
  width: 4rem; }

.information .information__real {
  color: #1db05e; }

.footer {
  color: #fff;
  background-image: url("../img/bg-img.jpg");
  background-position-x: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: grey;
  padding-top: 2rem;
  padding-bottom: 2rem; }
  .footer .footer__form {
    margin-bottom: 2rem; }
  .footer .footer__form-header {
    text-align: center;
    margin-bottom: 1.5rem; }
  .footer .footer__form-input {
    background-color: rgba(255, 255, 255, 0.1);
    padding: .5rem; }
  .footer .footer__submit {
    background-color: #e94e38; }
  .footer .footer__heading {
    text-decoration: underline;
    margin-bottom: 1rem; }
  .footer .footer__list-item a {
    color: #c0bebc; }
    .footer .footer__list-item a:hover {
      color: #dbdbdb; }
  .footer .footer__social-list-item {
    font-size: 1.5rem;
    margin-bottom: 2rem; }
    .footer .footer__social-list-item a {
      color: #fff; }
      .footer .footer__social-list-item a:hover {
        color: #ccc;
        text-decoration: none; }

.icon-tag {
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 50%;
  padding: 1.25rem 0;
  height: 4rem;
  width: 4rem; }
  .icon-tag.icon-home-solid {
    background-color: #1db05e; }
  .icon-tag.icon-user-solid {
    background-color: #bb1f5a; }
  .icon-tag.icon-hat-wizard-solid {
    background-color: #1d73b0; }
  .icon-tag.icon-music-solid {
    background-color: #f19e1f; }
  .icon-tag.icon-bus-alt-solid {
    background-color: #88499c; }
  .icon-tag.icon-leaf-solid, .icon-tag.icon-bolt-solid {
    background-color: #1db05e;
    border: none; }
  .icon-tag-circle.icon-home-solid:hover {
    color: #1db05e;
    border-color: #1db05e; }
  .icon-tag-circle.icon-user-solid:hover {
    color: #bb1f5a;
    border-color: #bb1f5a; }
  .icon-tag-circle.icon-hat-wizard-solid:hover {
    color: #1d73b0;
    border-color: #1d73b0; }
  .icon-tag-circle.icon-music-solid:hover {
    color: #f19e1f;
    border-color: #f19e1f; }
  .icon-tag-circle.icon-bus-alt-solid:hover {
    color: #88499c;
    border-color: #88499c; }
